body {
	padding-top: 140px;
	padding-bottom: 30px;
	background-color: #f5f8fa;
	color: #1e3948;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.6;
}

.navbar.navbar-nav {
	margin: 0;
	background: #3097d1;
	border-color: #1c73a5;
}

.navbar.navbar-nav li a,
.navbar.navbar-nav li .dropdown-menu li a {
	color: rgba(255, 255, 255, 0.8);
}
.navbar.navbar-nav li a:hover,
.navbar.navbar-nav li a:focus,
.navbar.navbar-nav li.active a,
.navbar.navbar-nav li.open a:hover,
.navbar.navbar-nav li.open a:focus,
.navbar.navbar-nav li.active a,
.navbar.navbar-nav li.open a,
.navbar.navbar-nav .navbar-brand,
.navbar.navbar-nav li .dropdown-menu li a:hover,
.navbar.navbar-nav li .dropdown-menu li a:focus,
.navbar.navbar-nav .dropdown-header {
	color: #ffffff;
	background-color: transparent;
}

.navbar.navbar-nav .dropdown-header {
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}

.navbar.navbar-nav .navbar-toggle {
	border-color: #1c73a5;
}

.navbar.navbar-nav .navbar-toggle:focus,
.navbar.navbar-nav .navbar-toggle:hover {
	background-color: #2d91ca;
}

.navbar-toggle .icon-bar {
		background-color: #FFF;
}

.container-block {
	margin-bottom: 22px;
	border: #d3e0e9 1px solid;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #FFF;
}

.container-block-inner {
	padding: 15px;
}

.container-block-border-top {
	border-top: 1px solid #d3e0e9;
}

.container-block-border-bottom {
	border-top: 1px solid #d3e0e9;
}

@media (min-width: 768px) {
	body {
		padding-top: 70px;
	}

	.navbar.navbar-nav li .dropdown-menu li a {
		padding: 10px 15px;
		color: #3097d1;
	}

	.navbar.navbar-nav li .dropdown-menu li a:hover,
	.navbar.navbar-nav li .dropdown-menu li a:focus {
		background: #F5F8FA;
		color: #216A94;
	}

	.navbar.navbar-nav .dropdown-header {
		color: #777;
	}
}